+PART[mk3Cockpit_Shuttle]
{
	@name = Mk3Cockpit_Shuttle_Hypersonic
	@author = Lisias, #$author$
	@title = #$title$ HS
	@manufacturer = L Aerospace / KSP Division
	@description = #$description$ Hypersonic variant, heavier and expensivier but more resilient to heat. Increases the Monopropelent amount to be conveniently used as coolant, and adds a bit of Oxidizer to be used on the yet more convenient embedded fuel cells, equivalent to four standard Fuel Cell, for your R.A.P.I.E.R. designs. But you lose the Science Container, the Data Transmitter and the Reaction Wheel as that space was needed for the heat resistance features and EC generator and pumps.
	@TechRequired = #$TechRequired$ , hypersonicFlight
	@entryCost = 58000	// 8000 + mk2Cockpit_Standard (50000)
	@cost = 15969.6	// 4920 + mk3Cockpit_Shuttle (10000) + 4 FuelCells (750 - 50) - Reaction Wheel (1200 - 200) - Science Container (1000 - 500) - Data Transmitter (350) + Oxidizer (20 * 0.18) - MonoPropellant (100 * 1.2) + Monopropellant (180 * 1.2)
	@mass = 4.645	// mk3Cockpit_Shuttle (3.5) + 15% + 4 FuelCells (0.05) + Oxidizer (20 * 0.005) - MonoPropellant (100 * 0.004) + Monopropellant (180 * 0.004)
	@skinMaxTemp = 2750 // 250 + mk2Cockpit_Standard (2500)
	//@tags = #autoLOC_500327 #autoLOC_500648
	@tags = hypersonic #$tags$

	MODULE
	{
		name = ModuleResourceConverter
		ConverterName = #autoLOC_502022 //#autoLOC_502022 = Fuel Cell
		StartActionName = #autoLOC_502023 //#autoLOC_502023 = Start Fuel Cell
		StopActionName = #autoLOC_502024 //#autoLOC_502024 = Stop Fuel Cell
		ToggleActionName = #autoLOC_502025 //#autoLOC_502025 = Toggle Fuel Cell
		FillAmount = 0.95
		AutoShutdown = false
		GeneratesHeat = false
		UseSpecialistBonus = false
		INPUT_RESOURCE
		{
			ResourceName = LiquidFuel
			Ratio = 0.00675 // 4 * 0.0016875
			FlowMode = STAGE_PRIORITY_FLOW
		}
		INPUT_RESOURCE
		{
			ResourceName = Oxidizer
			Ratio = 0,00825 // 4 * 0.0020625
			FlowMode = STAGE_PRIORITY_FLOW
		}
		OUTPUT_RESOURCE
		{
			ResourceName = ElectricCharge
			Ratio = 6 // 4 * 1.5
			DumpExcess = false
		}
	}

	#@KERBALBEHAVIOUR/HEAT-EXCHANGER[AtmosFuel.MonoPropellant.Mk3]/MODULE[KerbalHeatExchanger]:NEEDS[L-AEROSPACE_HEAT-PUMP] { }

	-MODULE[ModuleReactionWheel] {}
	-MODULE[ModuleScienceContainer] {}
	-MODULE[ModuleDataTransmitter] {}

	-RESOURCE[MonoPropellant] {}
	RESOURCE
	{
		name = MonoPropellant
		amount = 180
		maxAmount = 180
	}
	RESOURCE
	{
		name = LiquidFuel
		amount = 20
		maxAmount = 20
	}
}
