+PART[radialEngineBody]
{
	@name = radialEngineBody_Hypersonic
	@author = Lisias, #$author$
	@title = #$title$ HS
	@manufacturer = L Aerospace / KSP Division
	@description = #$description$ Hypersonic variant, heavier and expensivier but with additional passive heat dissipators.
	@TechRequired = #$TechRequired$ , hypersonicFlight
	@entryCost = 8200	// 2000 + radialEngineBody (6200)
	@cost = 2620	// 870 + radialEngineBody (1650)
	@mass = 0.30	// radialEngineBody (0.15) * 2
	@maxTemp = 2250 // 250 + radialEngineBody (2000)
	@tags = hypersonic #$tags$

	#@KERBALBEHAVIOUR/HEAT-EXCHANGER[AtmosFuel.MonoPropellant.Mk1]/MODULE[KerbalHeatSink]:NEEDS[L-AEROSPACE_HEAT-PUMP] { } { }
	#@KERBALBEHAVIOUR/HEAT-EXCHANGER[AtmosFuel.MonoPropellant.Mk1]/MODULE[KerbalHeatDissipator]:NEEDS[L-AEROSPACE_HEAT-PUMP] { }

	+MODULE[ModuleResourceIntake]
	{
		@resourceName = IntakeAtmosphere
		@checkForOxygen = false
	}
	+RESOURCE[IntakeAir]
	{
		@name = IntakeAtmosphere
	}
	&MODULE[ResourceIntakeController]
	{
		intakeEnabled = true
		controlGenerators = false
	}

	-RESOURCE[LiquidFuel] {}
	RESOURCE
	{
		name = LiquidFuel
		amount = 10
		maxAmount = 10
	}
	RESOURCE
	{
		name = MonoPropellant
		amount = 30
		maxAmount = 30
	}
}

